
body{
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRIi6g39aDtx0O_L0x4kbIGNtboWbUp6iCW8A&usqp=CAU");
  background-repeat: no-repeat;
  background-size: cover;
}

.profile-format{

  display: flex;
  align-items: center;
  margin-right: 15px;
}
.profile-img{
width: 500px;

text-align: right;
margin-right: 20px;   
display: block;

}
.city-img{
width: 500px;
text-align: left;
margin-left: 20px;
display: block;

}
.city-format{

  display: flex;
  align-items: center;
  margin-right: 15px;
} 



.places-img{
width: 150px;
height: auto;
text-align: right;
margin-left: 20px;

}



table{
border-collapse: collapse;
width: 100%;
}
td{
border: 2px solid black;
margin: 1em;
padding: 8px;

}


.places-foramt {
  display: flex; 
  
  
  }
  

.place-1{
  display: flex;
  align-items: center;
  margin-right: 15px;
  
  }
  

.place-2{
display: flex;
align-items: center;
margin-right: 15px;



}

.place-3{
display: flex;
align-items: center;
margin-right: 15px;

}






